@import '../../node_modules/uikit/dist/css/uikit.min.css';
// @import '../../node_modules/uikit/dist/css/uikit-core.css';

html {
font-family: "News Cycle", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
    
  html, body {
	font-family: "News Cycle", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "News Cycle", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  i, .material-icons, .fa, fab, .far, .fas {
	vertical-align: middle;
  }
  